.header{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: normal;
}

.h1{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.button{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aquamarine;
}

.p{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 21px;
    color: gray;    
}