body {
    background-color: black;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0;
    font-weight: normal;
}

header {
    font-size: 50px;
    margin: 30px;
}

h1 {
    font-weight: 300;
    font-size: 42px;
}

button {
    font-size: 16px;
    color: aquamarine;
    background-color: black;
    margin: 20px;
    border: none;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

p, footer {
    font-weight: 300;
    font-size: 21px;
    color: gray;    
}

footer {
    text-align: right;
    font-weight: normal;
}

img {
    margin: 10px;
    max-width: 100%;
}