header {
    font-size: 50px;
    color: white;
    font-weight: normal;
    margin: 30px;
}

h1 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

button {
    font-size: 16px;
    color: aquamarine;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-weight: 300;
    font-size: 21px;
    color: gray;    
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    color: gray;
    text-align: right;
    font-size: 21px;
}

img {
    margin: 10px;
}